/**
  Definições globais
 */

 body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

/**
  SITE CSS
 */

footer {
    text-align: center;
}

.btn-option {
    width: 55px;
}

option:first-letter {
    text-transform:capitalize;
}

.panel {
    border:none;
}

#sign-canvas, #sign-canvas-client {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 200px;
}
.modal-body {
    text-align: center;
}
.modal-dialog {
    max-width: 680px;
}

.modal-dialog {
    margin: 1.75rem auto !important;
}

.noshow {
    display: none;
}

.control-label {
    font-weight: bold;
}

.bg-primario {
    background-color: #000;
}

.card-fixed {
    background: white;
    border-radius: 15px;
    box-shadow: #000 0 0 10px;
}

.space-wrapper {
    flex: 1 1 auto;
}